# Node.js dependencies
node_modules/

# Angular build output
dist/
out-tsc/

# Environment files
src/environments/environment.prod.ts
src/environments/environment.ts

# Compiled files
*.js
*.map

# IDE & OS files
.vscode/
.DS_Store
