<mat-toolbar color="primary" class="header">
    <button mat-icon-button class="toggle-btn">
      <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>
  
  <!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="isSidenavOpen">
      <mat-nav-list>
        <a mat-list-item routerLink="/">🏠 Home</a>
        <a mat-list-item routerLink="/search">🔍 Search</a>
        <a mat-list-item routerLink="/about">ℹ️ About</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
    </mat-sidenav-content>
  </mat-sidenav-container> -->
  