.toolbar {
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
  
  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  h2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Product Sans', 'Arial', sans-serif;
    letter-spacing: 1px;
  }
  
  h2 span:nth-child(1) { color: #4285F4; } /* Blue */
  h2 span:nth-child(2) { color: #EA4335; } /* Red */
  h2 span:nth-child(3) { color: #FBBC05; } /* Yellow */
  h2 span:nth-child(4) { color: #34A853; } /* Green */
  .container{
    width: 100%;
  }  